<!DOCTYPE html>
<html>
<head>
    <script
			  src="https://code.jquery.com/jquery-3.2.1.js"
			  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
			  crossorigin="anonymous">
		</script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
</head>
<body>
<div class="header">
  <h1>Welcome to our ChatBot  </h1>

<style>
body {
  background-image: url("static/backgg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
</div>

<h2>Flask Chatbot</h2>
<div>
<div id = "chatbox">
<p class = "botText"><span>Hi! I am your Chatterbot.</span></p>
</div>
<div id = "userInput">
<input id ="textInput" type ="text" name="msg" placeholder="Message">
<input id = "buttonInput" type = "submit" value="Send">

<button type="button" class="btn btn-info" id = "ShowBtn" data-toggle="collapse" data-target="#demo">Show!</button>

</div>
    {% include 'script.js' %}

</div>

</body>
</html>